html {
  text-align: center;
  color: var(--main-color);
  background-color: var(--second-color);
  --main-color: white;
  --second-color: #121212;
  --accent-color: #6b6b6b;
  --accent-color2: rgba(0, 0, 0, 0.2);
  --grey: var(--accent-color);
  --green: #2f9e44;
  --red: #e03131;
  --red2: #ff8787;
  --red3: #ffc9c9;

  --chart-color1: #1971c2;
  --chart-color2: #f08c00;
  --chart-color3: #2f9e44;
  --chart-color4: #e03131;

  --border-color: white;
  --border-width: 2px;
  --border: var(--border-width) solid var(--border-color);
  --border-radius: 8px;

  /*--border-thin-width: 2px;
  --border-thin-color: white;
  --border-thin: var(--border-thin-width) solid var(--border-thin-color);*/
  --border-thin-width: 1px;
  --border-thin-color: gray;
  --border-thin: var(--border-thin-width) solid var(--border-thin-color);

  --window-border-color: gray;
  --window-border-radius: var(--border-radius);
  --window-border-width: 1px;
  --window-border: var(--window-border-width) solid var(--window-border-color);

}

body {
  margin: 0;
  font-family: "Segoe UI", "Verdana", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  color: var(--main-color);
  /* Prevent text selection */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Verdana"
    /*,Georgia"*/
  ;
}

h2 {
  font-size: 25px
}

h2,
h3,
h4, 
h5 {
  margin: 5px;
}

h4 {
  margin-left: 0px;
  margin-bottom: 0px;
}

p {
  padding-left: 5px;
  margin: 0px;
}

.loader {
  margin: auto auto;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  content: "Loading...";
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}



button {
  background-color: var(--second-color);
  text-align: center;
  color: var(--main-color);
  width: 120px;
  padding: 5px 10px 5px 10px;
  border: var(--border);
  padding: 0 10px;
  cursor: pointer;
  font-size: 17px;
  font-family: inherit;
  transition: all 0.25s;
  border-radius: var(--border-radius)
}

button:hover {
  background-color: var(--accent-color);
}

button:active {
  background-color: var(--main-color);
  color: var(--second-color);
}

.greyed_out {
  opacity: 50%;
  pointer-events: none;
  cursor: not-allowed;
  transition: all 0.25s;
}

.greyed_out:hover,
.greyed_out:active {
  background-color: var(--second-color);
  color: var(--main-color);
}


.value_field {
  font-family: "JetBrains mono", "Courier New", Courier, monospace;
  text-align: right;
}

.grid_item {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.grid_container {
  display: grid;
}

.report_div {
  position: absolute;
  overflow-y: scroll;
  height: calc(100vh - 20px - 50px);
  width: calc(100% - 240px)
}

.separator {
  background-color: var(--window-border-color);
  --separator-margin: 10px;
}

.sep_horisontal {
  background-color: var(--window-border-color);
  height: var(--window-border-width);
  width: 100%;
  margin: var(--separator-margin) 0 var(--separator-margin) 0;
}

.sep_vertical {
  background-color: var(--window-border-color);
  width: var(--window-border-width);
  flex: 1 0 var(--window-border-width);
  height: 100%;
  margin: 0 var(--separator-margin) 0 var(--separator-margin);
}

.window_content {}

input[type="text"] {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--main-color);
  font-size: inherit;
  font-family: inherit;
  width: 200px;
  padding-top: 0;
}

article {
  padding-bottom: 20px;
}

dialog {
  background-color: var(--second-color);
  color: var(--main-color);
  border: var(--window-border);
  border-radius: var(--window-border-radius);
  padding: 20px;

}
